*{
    padding:0;
    margin:0;
}
body{
    background: linear-gradient(45deg,rgb(243, 241, 241),rgb(255, 255, 0));
    font-size:20px;
}
.main_heading{
    margin:auto;
    font-family:Boldonse;
    text-align: center;
    display:flex;
    justify-content: center;
}
img{
    width:100%;
    z-index: 1;
    position: relative;
    size: 150px;
}
.choices{
    display:flex;
    justify-content:space-evenly;
    height:auto;
    width:100%;
    object-fit: cover;;
    cursor:pointer;
    flex-shrink: 0;
    padding:20px;
}
.choices img{
    z-index: 100;
}
.choice{
    margin:25px;
    padding:0px;
    border:5px solid yellowgreen;
    border-radius: 50%;
    box-shadow: 10px -10px 10px black;
    overflow:hidden;
    object-fit: cover;
    width:250px;
    

}
.scoreboard{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:55px;
    font-family: Anton;
    font-size: 35px;
    font-weight: bold;
}
.userscore{
    display:flex;
    flex-direction: column;
    align-items: center;
}
#userscore{
    background-color:transparent;
    text-align: center;
    font-size: 70px;
    width:200px;
    color:rgb(114, 162, 42);
    border:5px solid yellow;
    border-radius: 100%;
    box-shadow: 0px 10px 10px grey;
}
.computerscore{
    display:flex;
    flex-direction: column;
    align-items: center;
}
#compscore{
    background-color:transparent;
    color:red;
    text-align: center;
    font-size: 70px;
    border:5px solid yellow;
    width:200px;
    border-radius: 100%;
    box-shadow: 0px 10px 10px grey;
}
#msg-board{
    font-size: 40px;

    display: flex;
    justify-content: center;
    margin: 35px;
    font-family: Lilita One;
    border:10px solid rgb(181, 189, 21);
    padding:25px;
    border-radius: 20px;
    background-color: transparent;
}
.choice:active{
    transition: 0.1s ease-in-out;
    scale:0.9;
    box-shadow: -10px 10px 10px black;
    transform: translateX(10px);
    opacity: 0.8;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:black;
    font-size: 10px;
}


